# deps
node_modules/

# next
.next/
out/
standalone/

# env & secrets
.env
.env*.local

# uploads
uploads/

# prisma
prisma/migrations/dev.db*

# misc
*.log
.DS_Store

# local artifacts
*.tsbuildinfo
.sla-test-key.txt
